* {
    overflow:hidden;
}

body {
    font-family: 'Pixel';
    margin: 0;
    padding: 0;
}

.main-container {
    height: 100vh;
    background-image: 
    linear-gradient(to right bottom, rgba(240, 208, 187, 0.418), rgba(9, 0, 10, 0.2)),
    url('../img/pinkcity.gif');
    background-size: cover;
    clip-path: polygon(100% 0, 100% 80%, 32% 100%, 0 100%, 0 0);
}
.main-content {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 30%
}

h2 {
    letter-spacing: 0.4rem;
    color: #51354C;
    font-size: 4.5rem;
}

ul {
    list-style: none;
    margin: 4rem auto;
    padding: 0;
}

ul a {
    text-decoration: none;
    color: #51354C;
}

ul li {
    text-align: center;
    display: inline-block;
    height: 7%;
    width: 20%;
    padding: 2rem;
    position: relative;
    border: 2px solid #51354C;   
    border-radius: 5px;
    transition: transform 1s;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

ul li:not(:last-child){
    margin-right: 2rem;
}
ul li:hover{
    transform: scale(1.2);
    border-color: #EBB6B0;
    color: #EBB6B0;
}
ul li:hover a{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    color:#EBB6B0;
}

.item1 {
    opacity: 0;
    animation-name: Transition;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes Transition{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.item2 {
    opacity: 0;
    animation-name: Keyframes;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes Keyframes{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.item3 {
    opacity: 0;
    animation-name: Landing;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes Landing{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@font-face {
    font-family: Pixel;
    src: url(../fonts/VCR_OSD_MONO_1.001.ttf)
}